@{
    ViewData["Title"] = "Index";
}
<style>
    *{
        text-align:center;
    }

</style>
<table id="mytable" class="table table-hover" >
    <thead>
        <tr class="text-center">
            <td >id</td>
            <td>Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>OrderStatus</td>
            <td>Total Price</td>
            <td>Action</td>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/order.js"></script>
}